$color-light: #ffffff;
$color-dark: #303030;
$color-darknest: #000000;
$color-hightlight: #1076AD;
$color-hightlight-light: #3287B5;
$color-hightlight-lightnest: #569EC5;
$color-hightlight-dark: #065C8A;
$color-border-light: #eaeaea;
//$color-hightlight: #E41646;
//$color-hightlight-dark: #04486C;