.services {
	@include section-global;

	&__container {

			@media screen and (min-width: $media-query-medium) {
				&:before{
					position: absolute;
					top: 70px;
					right: 0;
					content: '';
					display: block;
					width: 170px;
					height: 520px;
					background: url("./images/icon_move.svg");
					opacity: 0.3;
			}
		}
	}
}